// variables
$bold: 600;
$leading: 200%;
$amethyst: #8077B7;
$haze: #7079B6;
$cornflower: #799ACC;
$sky: #89CEF0;
$turquois: #B4DEE7;
$white: #FFF;

button{
  border-radius: 50px;
  width: 200px;
  padding: 1em 2em;
  background: $haze;
  border: none;
  margin: 2em 0;
  color: $white;
  size: $bold;
  margin-right: 2em;
  cursor: pointer;
  margin-left: -5px; // optical alignment
}
button:hover{
  background: $amethyst;
  border-radius: 50px;
}
