.small{
  height: 60px;
}

.iconBig{ 
  width: 110px;
  height: 110px;
}

.circle{
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in-out;
}
.circle:hover { 
  transform: scale(1.04); 
}