/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'PT Sans Caption', sans-serif;
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
  /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
}

body .paint-turquois {
  background-color: #B4DEE7;
}

body nav {
  margin: 2em;
}

body .navbar-dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0) !important;
}

body .logo-sm {
  height: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body li {
  margin: 2em;
  list-style: none;
  font-weight: bold;
  cursor: pointer;
}

body li:hover, body .nav-link:hover {
  color: #8478B8;
}

body h1 {
  color: #7079B6;
  margin: 1em 0;
  max-width: 600px;
}

body h2 {
  margin: 1em 0;
  color: #7079B6;
}

body h5 {
  color: #B4DEE7;
  font-size: 1.2rem;
}

body h2 {
  margin: 1em 0;
  color: #7079B6;
}

body p {
  line-height: 200%;
  max-width: 600px;
}

body a {
  text-decoration: none;
}

body .onDark {
  color: #FFFFFF;
}

body .onDark h2 {
  color: #FFFFFF;
}

body hr {
  border-top: 2px solid #8478B8;
}

body .col-lg-1 {
  border: hotpink solid 1px;
}

body .col-lg-2 {
  border: hotpink solid 1px;
}

body .col-lg-4 {
  border: hotpink solid 1px;
}

body .col-lg-6 {
  border: hotpink solid 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .col-lg-9 {
  border: hotpink solid 1px;
}

body #wave1 {
  position: absolute;
  left: -20%;
  top: -30%;
  z-index: -1;
  height: 100%;
}

body #wave2 {
  position: absolute;
  top: 90%;
  z-index: -1;
}

body #wave3 {
  width: 100%;
  position: absolute;
  top: 270%;
  z-index: -1;
}

body .row {
  padding: 10em 2em 6em 2em;
}

body .card {
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px !important;
  height: 120%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .flexer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

body .container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1em 0;
}

body .icon-s {
  width: 50px;
  margin: 0 1em 0 0;
  cursor: pointer;
}

body .icon-l {
  width: 150px;
  margin: 0 1em 0 0;
  cursor: pointer;
}

body .circle {
  width: 150px;
  height: 150px;
  background: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .circle img {
  width: 80%;
}

body button {
  border-radius: 50px !important;
  width: 200px;
  padding: 1em 2em;
  background: #7079B6;
  border: none;
  margin: 2em 0;
  color: #FFFFFF;
  font-weight: 600;
  margin-right: 2em;
  cursor: pointer;
  margin-left: -5px !important;
}

body button:hover {
  background: #799ACC;
  border-radius: 50px;
}

body .shell {
  margin: 15em 2em 0 2em;
}

body .flyer {
  width: 100%;
  margin: 15em 0 0 0;
}

body .bigPic {
  width: 100%;
  position: relative;
  top: -170px;
  z-index: -2;
}

body .roundPic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

body .roundPic-sm {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
/*# sourceMappingURL=style.css.map */