$amethyst: #8478B8;
$haze: #7079B6;
$cornflower: #799ACC;
$sky: hsl(200, 75%, 72%);
$turquois: #B4DEE7;
$white: #FFFFFF;

$bold: 600;
$leading: 200%;
//reset
*{
    margin: 0;
    padding: 0;
}
*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans Caption', sans-serif;
}

// navigation
nav{
    height: 60px;
    width: 100vw;
    color: $white;
    display: flex;
    justify-content: space-between;
}

#wave1{
    width: 100%;
    position: absolute;
    top: -15%;
    z-index: -1;
}
.logo{
    margin: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

// typo
li{
    margin: 2em;
    list-style: none;
    font-weight: bold;
}
h1{
    color: $amethyst;
    margin: 1em 0;
    max-width: 600px;

}

h2{
    margin: 1em 0;
    color: $amethyst;
}


h5{
    color: $turquois;
    font-size: 1.2rem;
}

h2{
    margin: 1em 0;
    color: $amethyst;

}

p{
    line-height: $leading;
    max-width: 600px;

}


.wrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

main{
    height: 100vh;
    grid-column: 3/8;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.shell{
    width: 300px;
    position: absolute;
    top: 50vh;
    right: 10%;

}

.sec1{
    height: 100vh;
    grid-column: 3/8;
    grid-row: 2;
}

.sec2{
    height: 100vh;
    grid-column: 3/8;
    grid-row: 3;
}

.sec3{
    margin-top: 25vh;
    grid-column: 3/8;
    grid-row: 4;
    margin-bottom: 40vh;
}

footer{
    height: 50vh;
    grid-column: 3/8;
    grid-row: 5;
}

.icon-s{
    width: 50px;
    margin: 0 1em 0 0;

}

#wave2{
    width: 100%;
    position: absolute;
    top: 85vh;
    z-index: -1;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.container-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1em 0;
}

.circle{
    width: 150px;
    height: 150px;
    background: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 80%;
   
    }
}

.flyer{
    height: 100%;
    margin-right: 2em;
}

button{
    width: 200px;
    padding: 1em 2em;
    border-radius: 50px;
    background: $amethyst;
    border: none;
    margin: 2em 0;
    color: $white;
    font-weight: $bold;
}

#wave3{
    width: 100%;
    position: absolute;
    bottom: -340vh;
    z-index: -1;
}