/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
* {
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'PT Sans Caption', sans-serif;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.logo {
  height: 30px;
  margin: 2em;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

li {
  margin: 2em;
  list-style: none;
  font-weight: bold;
  cursor: pointer;
  color: #FFFFFF;
}

li:hover {
  color: #8478B8;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
h1 {
  color: #7079B6;
  margin: 1em 0;
  max-width: 600px;
}

h2 {
  margin: 1em 0;
  color: #7079B6;
}

h5 {
  color: #B4DEE7;
  font-size: 1.2rem;
}

h2 {
  margin: 1em 0;
  color: #7079B6;
}

p {
  line-height: 200%;
  max-width: 600px;
}

a {
  text-decoration: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.col-lg-1 {
  border: hotpink solid 1px;
}

.col-lg-6 {
  border: hotpink solid 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-lg-4 {
  border: hotpink solid 1px;
}

.col-lg-9 {
  border: hotpink solid 1px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#wave1 {
  position: absolute;
  top: -35%;
  z-index: -1;
  height: 100%;
}

#wave2 {
  position: absolute;
  top: 85vh;
  z-index: -1;
}

#wave3 {
  width: 100%;
  position: absolute;
  bottom: -320vh;
  z-index: -1;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
main, section {
  margin: 15em 2em 6em 2em;
}

/*
// grid
.wrapper{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.sec1{
    height: 100vh;
    grid-column: 3/8;
    grid-row: 2;
}
.sec2{
    height: 100vh;
    grid-column: 3/8;
    grid-row: 3;
}
.sec3{
    margin-top: 25vh;
    grid-column: 3/8;
    grid-row: 4;
    margin-bottom: 20vh;
}
footer{
    height: 50vh;
    grid-column: 3/8;
    grid-row: 5;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.flexer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 0;
}

/*
// containers
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}
.container-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1em 0;
}
*/
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.icon-s {
  width: 50px;
  margin: 0 1em 0 0;
  cursor: pointer;
}

.circle {
  width: 150px;
  height: 150px;
  background: #FFFFFF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle img {
  width: 80%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
button {
  width: 200px;
  padding: 1em 2em;
  border-radius: 50px;
  background: #7079B6;
  border: none;
  margin: 2em 0;
  color: #FFFFFF;
  font-weight: 600;
  margin-right: 2em;
  cursor: pointer;
}

button:hover {
  background: #799ACC;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.shell {
  margin: 15em 2em 0 2em;
}

.flyer {
  width: 100%;
  margin: 15em 0 0 0;
}
/*# sourceMappingURL=style.css.map */