// color palette
$amethyst: #8478B8;
$haze: #7079B6;
$cornflower: #799ACC;
$sky: hsl(200, 75%, 72%);
$turquois: #B4DEE7;
$white: #FFFFFF;

// typo preset
$bold: 600;
$leading: 200%;


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

//reset
*{
    margin: 0;
    padding: 0;
}

*, *::after, *::before{
    box-sizing: border-box;
}


body{
    font-family: 'PT Sans Caption', sans-serif;

.paint-turquois{
    background-color: $turquois;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// navigation

nav{
    margin: 2em;
}
.navbar-dark .navbar-toggler{
    border-color: rgba(255,255,255,.0)!important;
}

.logo-sm{
    height: 30px;
    align-items: flex-start;
}


li{

    margin: 2em;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
}




li:hover, .nav-link:hover{
    color: $amethyst;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// typo
h1{
    color: $haze;
    margin: 1em 0;
    max-width: 600px;
}

h2{
    margin: 1em 0;
    color: $haze;
}
h5{
    color: $turquois;
    font-size: 1.2rem;
}
h2{
    margin: 1em 0;
    color: $haze;
}
p{
    line-height: $leading;
    max-width: 600px;
}
a{
    text-decoration: none;
}


.onDark{
    color: $white;
    h2{
        color: $white; 
    }
}

hr{
    border-top: 2px solid $amethyst;

}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// bootstrap gridline
.col-lg-1{
    border: hotpink solid 1px;
}

.col-lg-2{
    border: hotpink solid 1px;
}

.col-lg-4{
    border: hotpink solid 1px;
}
.col-lg-6{
    border: hotpink solid 1px;
    align-items: center;
}

.col-lg-9{
    border: hotpink solid 1px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// waves
#wave1{
    position: absolute;
    left: -20%;
    top: -30%;
    z-index: -1;
    height: 100%;
}
#wave2{
    position: absolute;
    top: 90%;
    z-index: -1;

}
#wave3{
    width: 100%;
    position: absolute;
    top: 270%;
    z-index: -1;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



.row{
    padding: 10em 2em 6em 2em;

}

.card{
    padding: 2em;
    align-items: center;
    border-radius: 50px !important;
    height: 120%;
    justify-content: center;

}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


.flexer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}
.container-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1em 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// icons
.icon-s{
    width: 50px;
    margin: 0 1em 0 0;
    cursor: pointer;
}
.icon-l{
    width: 150px;
    margin: 0 1em 0 0;
    cursor: pointer;
}
.circle{
    width: 150px;
    height: 150px;
    background: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 80%;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// button
button{
    border-radius: 50px !important;
    width: 200px;
    padding: 1em 2em;
    background: $haze;
    border: none;
    margin: 2em 0;
    color: $white;
    font-weight: $bold;
    margin-right: 2em;
    cursor: pointer;
    margin-left: -5px !important; // optical alignment
}
button:hover{
    background: $cornflower;
    border-radius: 50px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

// pictures
.shell{
    margin: 15em 2em 0 2em;
}
.flyer{
    width: 100%;
    margin: 15em 0 0 0;
}

.bigPic{
    width: 100%;
    position: relative;
    top: -170px;
    z-index: -2;

}

.roundPic{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.roundPic-sm{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
}