.event{
	padding: 10em 10em;
}

.highlight{
	display: flex;
	flex-direction: row;
	width: 800px;
	align-items: flex-end;
}

.highlight h4{
	margin: 1em;
}

.flexBtn{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 1em;
	width: 400px;
}



