footer{
  padding: 3em 10em;
  // background: rgb(104,100,170);
  // background: linear-gradient(0deg, rgba(104,100,170,1) 35%, rgba(94,138,194,1) 100%);
  position: relative;
  background-image: url("../../img/wave/wave4.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}

