// main grid proportions 2:1
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
  height: 100%;
  margin-bottom: 6em;
}

// event grid proportions 1:1
.event {
	display: grid;
	max-width: 100vw;
  	grid-template-columns: 1fr 2fr;
	grid-gap: 6em;
}

// camp grid proportions 1:1
.camp {
	display: grid;
  	grid-template-columns: 2fr 1fr;
	grid-gap: 15em;
}

// gallery grid proportions 1:1
.gallery {
	display: grid;
  	grid-template-columns: 1fr;
	grid-gap: 2em;
}

// location grid proportions 1:1
.location {
	display: grid;
  grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
}
  

// footer grid proportions 1:1:1
.footer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
}

// footer grid proportions 1:1:1
.edit{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2em;
}

// media 1600 px
@media screen and (max-width: 1600px) {
	main {
		grid-gap: 10em;
	}
	.camp {
	  grid-gap: 10em;
	}
	.location {
	  grid-gap: 10em;
  }
  .event {
	  grid-gap: 8em;
  }
}

// media 1200 px
@media screen and (max-width: 1200px) {
	main {
		grid-template-columns: 1fr;
		grid-gap: 2em;
	}
  	.camp {
		grid-template-columns: 1fr;
		grid-gap: 2em;
	}
	.event {
		grid-template-columns: 1fr;
		grid-gap: 2em;
	}
	.location {
		grid-template-columns: 1fr;
		grid-gap: 2em;
	}
	.edit {
		grid-template-columns: 1fr;
		grid-gap: 2em;
	}
}

// media 800 px
@media screen and (max-width: 800px) {
	main {
		height: 100%;
		grid-template-columns: 1fr;
	}
	.event {
		height: 100%;
		grid-template-columns: 1fr;
  	}
  	.camp {
		height: 100%;
		grid-template-columns: 1fr;
	}
  	.location {
		height: 100vh;
		grid-template-columns: 1fr;
	}
	.footer {
		grid-template-columns: 1fr;
	}
	.edit {
		width: 100vw;
		grid-template-columns: 1fr;
	}
}
