.location{
  position: relative;
  height: 100%;
  margin-bottom: -1em;
  background-image: url('img/wave/waveFooter.svg');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 300;
}


// media 1600 px
@media screen and (max-width: 1400px) {
  .location{
    padding: 6em 10em;
    background: rgb(65,121,182);
    background: linear-gradient( rgba(95,138,194,1) 20%, rgba(102,204,255,1) 100%);
    background-size: 120%;
  }
}

// media 1600 px
@media screen and (max-width: 900px) {
  .location{
    padding: 2em 2em;
  }
}