.location{
  position: relative;
  height: 100%;
  margin-bottom: -1em;
  background-image: url('img/wave/waveFooter.svg');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  z-index: 300;
  padding: 10em;
}

.locationPic{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* * * * * * * * * * * * * * * * * * * * @media * * * * * * * * * * * * * * * * * * * */

// media 1400 px
@media screen and (max-width: 1400px) {
  .location{
    padding: 6em 10em;
    background: rgb(65,121,182);
    background: linear-gradient( rgba(95,138,194,1) 20%, rgba(102,204,255,1) 100%);
    background-size: 120%;
  }
  .locationPic{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconHolder{
    width: 100%;
    display: flex;
    justify-items: center;
    align-content: center;
  }
}

// media 900 px
@media screen and (max-width: 900px) {
  .location{
    padding: 2em 2em;
  }
}